@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body{
    font-family: 'Playfair Display', serif;
    overflow: hidden;
}
h1{
   font-weight: 700; 
   font-size: 40px;
   color: #030303;
   letter-spacing: 5px;
}

.wave{
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/* flexbox */
.container{
    width: 100vw;
    height: 100vh;
    display: flex; 
}
.wrapper{
    display: flex;
    align-content: space-around;
    align-items: center;

}
.img img{
    
    width: 338px;
}
.img{
    position: absolute;
    top: 58%;

}

.avatar{
    width: 100px;
    padding: 20px 0;
}

form{

    border-radius: 40px;
    box-shadow: 5px 8px 5px 5px rgba(34, 197, 148, 0.3);
    height: 60%;
    margin-top: 15px;
    margin-left: 80px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: #fafafa;
}

p{
    font-size: 25x;
    padding: 20px 0;
    line-height: 40px;
}
ul{
    padding: 0px 100px;
}
.resources{
    margin-left: 15%;
    width: 45%;
    height: 400px;
    padding: 25px;
}

a:link{
    text-decoration: none;
    color: #01a37d;
}

a:visited{
    text-decoration: none;
    color: #01a37d;
}
a:hover{
    color: #56E4C3;
}

a{
    font-size: 15px;
}

h2{
    font-size: 40px;
    padding: 10px 0;
}

.input{
    font-size: 20px;
    padding: 10px 0;
    font-weight: 700;
}

#emailHelp{
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
    color: #01a37d;
}

.forgot-password{
    font-size: 15px;
    padding: 10px 0;
}
input{
    padding: 5px 0;
    border-radius: 10px;
}

button{
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #01a37d;
    border-style: none;
    color: #ffffff;
}

.description{
    position: absolute;
    top:65%;
    bottom: 0;
    left: 50%;
   width: 700px;
}
.description p{
    font-size: 13px;
}

span{
    color: #01a37d;
    font-weight: 700;
}

.email{
    text-align: center;
   position: absolute;
   bottom: 0;
   left: 45%;
   width: 100%;
   height: 2.5rem;

   font-size: 18px;
   font-weight: 700;
}

/* Media Queries */


/* Larger display */
@media screen and (min-width: 1024px) {

    p{
        font-size: 15px;
    }
    a{
        font-size: 18px;
    }
    form{
       margin-left: 5%;
    }
    .description p{
        font-size: 12px;
        width: 700px;
    }
    .img img{
        width: 450px;
    }
}

@media screen and (min-width: 1498px) {

    p{
        font-size: 18px;
    }
    a{
        font-size: 25px;
    }
    form{
       margin-left: 10%;
    }
    .description p{
        font-size: 12.5px;
       
    }
    .img img{
        width: 480px;
    }
}